<%= form_with(model: field_rent, local: true) do |form| %>
  <% if field_rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field_rent.errors.count, "error") %> prohibited this field_rent from being saved:</h2>

      <ul>
      <% field_rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :field_id %>
    <%= form.collection_select(:field_id , Field.all, :id, :nombre) %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.collection_select(:service_id , Service.all, :id, :nombre) %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :field_rent_fecha %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.time_select :hora, id: :field_rent_hora %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :field_rent_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar datos' %>
  </div>
<% end %>
