<p id="notice"><%= notice %></p>

<h1>Publicaciones</h1>

<table>
  <thead>
    <tr>
      <th>Cancha</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Tarifa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.field %></td>
        <td><%= publication.nombre %></td>
        <td><%= publication.descripcion %></td>
        <td><%= publication.fecha_inicio %></td>
        <td><%= publication.fecha_fin %></td>
        <td><%= publication.tarifa %></td>
        <td><%= link_to 'Editar', edit_publication_path(publication) %></td>
        <td><%= link_to 'Eliminar', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva publicacion', new_publication_path %>
