<p id="notice"><%= notice %></p>

<p>
  <strong>Cancha:</strong>
  <%= @publication.field %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @publication.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @publication.descripcion %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @publication.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @publication.fecha_fin %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @publication.tarifa %>
</p>

<%= link_to 'Editar', edit_publication_path(@publication) %> |
<%= link_to 'Regresar', publications_path %>
