<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @user.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @user.apellido_materno %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.sexo %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @user.dni %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @user.fecha_nacimiento %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @user.celular %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @user.direccion %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', users_path %>
