<!DOCTYPE html>
<html>
  <head>
    <title>Fulbito</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/balon-625x640.png" type="image/x-icon">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<section class="menu cid-qBIEIelGuA" once="menu" id="menu1-e" data-rv-view="248">
            <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="menu-logo">
                    <div class="navbar-brand">
                        <span class="navbar-logo">
                            <a href="inicio.html"></a>
                        </span>
                        <span class="navbar-caption-wrap">
                            <a class="navbar-caption text-white display-5" href="inicio.html">Futbol Fácil</a>
                        </span>
                    </div>
                </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <% if current_user %>
                            <% if current_user.user_type_id==1 %>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Inicio
                                </a>
                            </li>
                            
                            
                            
                            
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/field_rents">
                                    <span class="mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>
                                    Alquilar Cancha
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <%= link_to 'Perfil', current_user, class: 'nav-link link text-white display-4' %>
                            </li>
                            <li class="nav-item dropdown open">
                                <a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="true">
                                    <span class="mbri-bulleted-list mbr-iconfont mbr-iconfont-btn"></span>
                                    Mantenimiento
                                </a>
                                <div class="dropdown-menu">
                                    <a class="text-white dropdown-item display-4" href="/locals" aria-expanded="false">
                                        <span class="mbri-globe mbr-iconfont mbr-iconfont-btn"></span>
                                        Locales
                                    </a>
                                    <a class="text-white dropdown-item display-4" href="/fields" aria-expanded="false">
                                        <span class="mbri-target mbr-iconfont mbr-iconfont-btn"></span>
                                        Canchas
                                    </a>
                                    <a class="nav-link link text-white display-4" href="/districts">
                                        <span class="mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>
                                        Distrito
                                    </a>
                                    <a class="nav-link link text-white display-4" href="/publications">
                                        <span class="mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>
                                        Publicidad
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Cerrar Sesión', log_out_path, method: :delete, class: 'nav-link link text-white display-4' %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/sign_up">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Nuevo Usuario
                                </a>
                            </li>
                            <% end %>

                            <% if current_user.user_type_id==2 %>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Inicio
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/comments">
                                    <span class="mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>
                                    Comentarios
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/field_rents">
                                    <span class="mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>
                                    Alquilar Cancha
                                </a>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Perfil', current_user, class: 'nav-link link text-white display-4' %>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Cerrar Sesión', log_out_path, method: :delete, class: 'nav-link link text-white display-4' %>
                            </li>
                            <% end %>
                            
                            <% if current_user.user_type_id==3 %>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Inicio
                                </a>
                            </li>
                            
                            
                            
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/field_rents">
                                    <span class="mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>
                                    Alquilar Cancha
                                </a>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Perfil', current_user, class: 'nav-link link text-white display-4' %>
                            </li>
                            <li class="nav-item dropdown open">
                                <a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="true">
                                    <span class="mbri-bulleted-list mbr-iconfont mbr-iconfont-btn"></span>
                                    Mantenimiento
                                </a>
                                <div class="dropdown-menu">
                                    <a class="text-white dropdown-item display-4" href="/locals" aria-expanded="false">
                                        <span class="mbri-globe mbr-iconfont mbr-iconfont-btn"></span>
                                        Locales
                                    </a>
                                    <a class="text-white dropdown-item display-4" href="/fields" aria-expanded="false">
                                        <span class="mbri-target mbr-iconfont mbr-iconfont-btn"></span>
                                        Canchas
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <%= link_to 'Cerrar Sesión', log_out_path, method: :delete, class: 'nav-link link text-white display-4' %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/sign_up">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Nuevo Usuario
                                </a>
                            </li>
                            <% end %>
                            
                        <% else %>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/log_in">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Inicio Sesion
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/sign_up">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Nuevo Usuario
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="contacto.html">
                                </a>
                            </li>
                        <% end %>
                        </ul>
                    </div>
            </nav>
        </section>

        <section class="engine">
            
        </section>
        <section class="cid-qBIEIfy3eK mbr-fullscreen mbr-parallax-background" id="header2-f" data-rv-view="250">
            <div class="container align-center">
                <div class="row justify-content-md-center">
                    <div class="mbr-white col-md-10">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </section>

        <section class="cid-qBIEIgv5oQ mbr-reveal" id="footer1-g" data-rv-view="253">
            <div class="mbr-overlay" style="background-color: rgb(60, 60, 60); opacity: 0.5;"></div>
            <div class="container">
                <div class="media-container-row content text-white">
                    <div class="col-12 col-md-3">
                        <div class="media-wrap">
                            <img src="/images/balon-625x640.png" media-simple="true">
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mbr-fonts-style display-7">
                        <h5 class="pb-3">Dirección</h5>
                        <p class="mbr-text">
                            Prolongación Primavera 2390 Cercado de Lima 15023&nbsp;</p>
                    </div>
                    <div class="col-12 col-md-3 mbr-fonts-style display-7">
                        <h5 class="pb-3">Contactos</h5>
                        <p class="mbr-text">
                            Email: info@futbolfacil.com
                            <br>Teléfono: +01 (51) 547 3199&nbsp;<br>Mobile: +01 (51) &nbsp;991 216 5205
                        </p>
                    </div>
                    
                    
                </div>
                    
                <div class="footer-lower">
                    <div class="media-container-row">
                        <div class="col-sm-12"><hr></div>
                    </div>
                    <div class="media-container-row mbr-white">
                        <div class="col-sm-6 copyright">
                            <p class="mbr-text mbr-fonts-style display-7">
                                © Copyright 2017 Futbol Fácil - Todos los derechos reservados</p>
                        </div>
                        <div class="col-md-6">
                            <div class="social-list align-right">
                                <div class="soc-item">
                                    <a href="https://twitter.com/mobirise" target="_blank">
                                        <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                        <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                        <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://instagram.com/mobirise" target="_blank">
                                        <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                        <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://www.behance.net/Mobirise" target="_blank">
                                        <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="assets/web/assets/jquery/jquery.min.js"></script>
        <script src="assets/popper/popper.min.js"></script>
        <script src="assets/tether/tether.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/touch-swipe/jquery.touch-swipe.min.js"></script>
        <script src="assets/jarallax/jarallax.min.js"></script>
        <script src="assets/smooth-scroll/smooth-scroll.js"></script>
        <script src="assets/dropdown/js/script.min.js"></script>
        <script src="assets/theme/js/script.js"></script>
  </body>
</html>

